@use "global" as *;

.breadcrumb-margin {
  margin-bottom: rem(52);
  @include mq(md) {
    margin-bottom: rem(150);
  }
}
.breadcrumb-margin.breadcrumb-margin--about {
  @include mq(md) {
    margin-bottom: rem(258);
  }
}
.breadcrumb-margin.breadcrumb-margin--info {
  margin-bottom: rem(120);
}
.breadcrumb-margin.breadcrumb-margin--404 {
  @include mq(md) {
    margin-bottom: rem(120);
  }
}