@use "global" as *;
.about {
  @include mq(md) {
    position: relative;
  }
}

.about__inner {
  max-width: rem(600);
}

.about__title {
  margin-bottom: rem(26);
  @include mq(md) {
    margin-bottom: rem(36);
  }
}
.about__img-wrapper {
  width: 100%;
  position: relative;
  margin-top: rem(80);
  margin-bottom: rem(40);
  @include mq(md) {
    margin-top: rem(120);
    margin-bottom: 0;
  }
}
.about__shisa-img {
  display: block;
  position: absolute;
  top: rem(-43);
  z-index: 1;
  width: 37.2%;
  // padding-bottom: 8.490566%;
  @include mq(md) {
    // margin-left: rem(164);
    // margin-left: rem(10);
    top: rem(-80);
    width: 36.5%;
  }
}
.about__fish-img {
  display: block;
  width: 81.449275%;
  margin-left: auto;
  // position: absolute;
  top: rem(26);
  // top: 20%;
  right: 0;
  z-index: 0;
  @include mq(md) {
    width: 82%;
    top: rem(80);
    // bottom: rem(12);
    // right: 1%;
  }
}

.about__contents {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    max-width: rem(840);
    width: 100%;
    position: absolute;
    z-index: 2;
    top: rem(350);
    // left: 16%;
    // left: calc(66% - min(50%, 300rem));
    left: 50%;
    left: calc(50% + 70px);
    transform: translateX(-50%);
  }
}
.about__copy {
  color: $green;
  font-size: rem(40);
  margin-bottom: rem(18);
  line-height: 1;
  @include mq(md) {
    width: 48%;
    color: #fff;
    margin-bottom: 0;
    font-size: rem(80);
    line-height: 1.25;
  }
}
.about__text-btn {
  @include mq(md) {
    width: 48%;
    color: #fff;
  }
}
.about__text {
  margin-bottom: rem(48);
  @include mq(md) {
    // padding-top: rem(4);
    // padding-left: rem(4);
    margin-bottom: rem(38);
  }
}

.about__btn {
  margin-right: auto;
  margin-left: auto;
}

.about__coral {
  display: none;
  @include mq(md) {
    background-image: url(../images/common/coral.png);
    display: block;
    position: absolute;
    width: rem(194);
    height: rem(181);
    bottom: rem(-90);
    right: calc(50% - min(48%, 40rem));
    background-repeat: no-repeat;
    background-size: contain;
  }
}













