@use "global" as *; 

.article {
  display: block;
  // max-width: rem(560);
  // width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  padding: rem(18) rem(16) rem(16);
  @include mq(md) {
    // width: rem(333);
    // width: 30.833%;
    // width: 100vw * 0.23125;
    // width: calc(333vw / 14.4);
    padding-top: rem(16);
  }
}
.article__aside {
  margin-bottom: rem(24);
}


.article__figure {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.article__figure::before {
  content:"";
  display: block;
  padding-top: 66.78%;
}
.article__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.article__header {
  // margin-bottom: rem(6);
  padding-bottom: rem(6);
  margin-bottom: rem(16);
  border-bottom: 1px solid $green;
}
.article__date {
  font-size: rem(12);
  margin-bottom: rem(6);
}
.article__title {
  font-weight: 500;
  line-height: 1;
  font-size: rem(16);
}
.article__body {
  // padding: rem(16) 0 rem(8);
  padding-bottom: rem(8);
  // border-top: 1px solid $green;
}

.article:hover {
  filter: brightness(0.9);
}






