@use "global" as *; 

.blog {
  width: 100%;
  padding-top: rem(76);
  @include mq(md) {
    padding-top: rem(88);
    position: relative;
  }
} 
.blog::after {
  @include mq(md) {
    height: rem(500);
    // width: 100vw;
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-image: url(../images/common/blog-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

// .blog__inner {
//   padding: 0 rem(15);
//   margin: 0 auto;
//     @include mq("md") {
//       max-width: $inner + strip-unit($padding-pc) * 2;
//       padding-right: $padding-pc;
//       padding-left: $padding-pc;
//     }
// }

.blog__title {
  margin-bottom: rem(24);
  @include mq(md) {
    margin-bottom: rem(76);
  }
}
.blog__articles {
  margin-bottom: rem(38);
  
  @include mq(md) {
    // display: flex;
    display: grid;
    gap: 3.7%;
    // justify-content: space-between;
    // justify-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
    // flex-wrap: wrap;
    margin-bottom: rem(80);
  }
}
.blog__article  {
  margin: 0 auto rem(40);
  @include mq(md) {
    margin: 0 auto;
  }
}
.blog__btn-wrapper {
  @include mq(md) {
    padding-right: rem(4);
  }
}
.blog__btn {
  margin: 0 auto;
}

.blog__fish {
  display: none;
  @include mq(md) {
    background-image: url(../images/common/fish1-white.png);
    display: block;
    position: absolute;
    top: rem(24);
    // left: 6.94444%;
    left: calc(50% - min(48%, 38.5rem));
    width: rem(437);
    height: rem(201);
    background-repeat: no-repeat;
    background-size: contain;
  }
}














