@use "global" as *;

.blog-main {
  @include mq(md) {
    width: calc(706px / 1080px * 100%);
  }
}
.blog-main__articles {
  margin-bottom: rem(80);
}

.blog-main__article.article .article__image {
  transition: 0.3s;
}
.blog-main__article.article:hover .article__image {
  transform:scale(1.1,1.1);
}