@use "global" as *;

.btn {
  background: $green;
  // color: #fff;
  // font-size: rem(14);
  padding: rem(16) rem(88) rem(16) rem(40);
  // width: rem(202);
  // height: rem(54);
  // box-sizing: border-box; 
  box-sizing: content-box;
  border: 1px solid $green;
  // display: flex;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: 0.1s;
  // border-left: 1px solid $green;
  // z-index: 10;
  z-index: 1;
}
.btn__text {
  box-sizing: border-box; 
  // background: $green;
  // padding: rem(16) rem(88) rem(16) rem(40);
  color: #fff;
  font-size: rem(14);
  transition: .2s;
  // border: 1px solid $green;
  z-index: 2;
}

.btn__sub {
  content: '';
  position: absolute;
  // background-color: #fff;
  width: 100%;
  height: 100%;
  top: rem(4);
  left: rem(4);
  border: 1px solid $green;
  z-index: 0;
}


// .btn::before {
//   content: '';
//   position: absolute;
//   background-color: #fff;
//   top: rem(4);
//   left: rem(201.5);
//   bottom: rem(-4);
//   right: rem(-4);
//   border-top: 1px solid $green;
//   border-right: 1px solid $green;
// }
// .btn::after {
//   content: '';
//   position: absolute;
//   background-color: #fff;
//   top: rem(53.7);
//   left: rem(4);
//   bottom: rem(-4);
//   right: rem(-3.4);
//   border-left: 1px solid $green;
//   border-bottom: 1px solid $green;
//   transition: 0.3s;
//   // z-index: -1;
// }

// .btn__text {
//   position: absolute;
//   left: rem(40);
//   top: rem(16);
  
//   z-index: 1;
// }




.btn__arrow::before {
  content: '';
  position: absolute;
  width: rem(40);
  height: rem(1.2);
  background: #fff;
  top: rem(27);
  right: rem(40);
  transition: .1s;
  // position: relative;
  z-index: 1;
}
.btn__arrow::after {
  content: '';
  position: absolute;
  width: rem(10);
  height: rem(1);
  top: rem(23.5);
  right: rem(38.5);
  background-color: #fff;
  transition: .1s;
  // border: 1px solid #000;
  transform: rotate(45deg);
  // left: rem(100);
  z-index: 1;
}




// .btn__arrow::after {
//   position: absolute;
//   display: block;
//   width: rem(40);
//   height: rem(6);
//   border-bottom: 1px solid #fff;
//   border-right: 1px solid #fff;
//   transform: skew(45deg);
//   right: rem(40);
//   top: rem(21);
//   // margin-bottom: rem(4);
//   transition: 0.3s;
//   z-index: 1;
// }

.btn__hover-bg {
  position: absolute;
  content: '';
  // top: 0.667px;
  // left: 0.667px;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  // border: 1px solid $green;
  // box-sizing: border-box;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: 1;
}
// .btn__hover-bg::after {
//   position: absolute;
//   content: '';
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border: 1px solid $green;
//   box-sizing: border-box;
//   transition: 0s;
//   z-index: 2;
// }


.btn:hover .btn__text {
  color: $green;
}
.btn:hover .btn__arrow::before,
.btn:hover .btn__arrow::after {
  background: $green;
  z-index: 2;
}


// .btn:hover .btn__arrow {
//   border-color: $green;
// }

.btn:hover .btn__hover-bg {
  transform: scale(1, 1);
}



// .btn:hover::after {
//   border-top: transparent;
//   border-left: transparent;
//   transition: 0.6s;
// }













