@use "global" as *;

.btn {
  background: $green;
  color: #fff;
  font-size: rem(14);
  padding: rem(16) rem(42) rem(16) rem(40);
  width: rem(202);
  box-sizing: border-box; 
  border: 1px solid $green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: 0.3s;
  // z-index: 10;
}


.btn::before {
    content: '';
    position: absolute;
    background-color: #fff;
    top: rem(4);
    left: rem(201.5);
    bottom: rem(-4);
    right: rem(-4);
    border-top: 1px solid $green;
    border-right: 1px solid $green;
}
.btn::after {
  content: '';
  position: absolute;
  background-color: #fff;
  top: rem(53.7);
  left: rem(4);
  bottom: rem(-4);
  right: rem(-3.4);
  border-left: 1px solid $green;
  border-bottom: 1px solid $green;
  transition: 0.3s;
  // z-index: -1;
}

.btn__arrow {
  display: block;
  width: rem(40);
  height: rem(6);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: skew(45deg);
  margin-bottom: rem(4);
  transition: 0.3s;
}

.btn:hover {
  background: #fff;
  color: $green;
}
.btn:hover .btn__arrow {
  border-color: $green;
}



// .btn:hover::after {
//   border-top: transparent;
//   border-left: transparent;
//   transition: 0.6s;
// }













