@use "global" as *;

.campaign {
  overflow-x: hidden;
}
.campaign__inner {
  margin-bottom: rem(4);
  @include mq(md) {
    position: relative;
  }
}
.campaign__title {
  margin-bottom: rem(26);
  @include mq(md) {
    margin-bottom: rem(36);
  }
}
.campaign__swiper {
  margin-right: calc(50% - 50vw);
  padding-bottom: rem(12);
  margin-bottom: rem(28);
  
  @include mq(md) {
    // padding-bottom: rem(80);
    margin-bottom: rem(68);
  }
}
.campaign__cards.cards {
  display: flex;
  align-items: stretch;
  
}

// .campaign__btn {
  // margin: 0 auto rem(4);
//   margin: 0 auto;
// }





















