@use "global" as *;

.cards {
  padding-left: rem(15);

  @include mq(md) {
    padding-left: rem(20);
  }
}
.cards__item {
  margin-bottom: rem(39);
  margin-right: rem(24);
  @include mq(md) {
    margin-bottom: rem(80);
  }
}











