@use "global" as *;

.cat-widget {
  background: #fff;
  width: 100%;
  border: 1px $green solid;
  font-size: rem(14);
  color: $green;
  transition: 0.3s;
  @include mq(md) {
    width: rem(162);
  }
}
.cat-widget a {
  padding: rem(8);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.cat-widget.active {
  background: $green;
  color: #fff;
}


// ------- hover ------
.cat-widget:hover {
  background: $green;
  color: #fff;
}
.cat-widget.active:hover {
  background: #fff;
  color: $green;
}
