@use "global" as *; 

.contact {
  position: relative;
}

.contact__inner {
  max-width: rem(600);
}

.contact__contents-wrapper {
  @include mq(md) {
    max-width: rem(1080);
    width: 100%;
    margin: 0 auto;
    padding: rem(80) rem(50);
    display: flex;
    align-items: center;
    // box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
}

.contact__access {
  @include mq(md) {
    width: 53.4%;
    padding-top: rem(4);
    border-right: 1px solid $green;
  }
}
.contact__logo {
  max-width: rem(294);
  width: 100%;
  padding:0 rem(60) rem(8) rem(60);
  margin: 0 auto rem(16);
  border-bottom: 1px solid $green;
  @include mq(md) {
    padding: 0 rem(120) rem(8) rem(120);
    margin: 0 0 rem(24) 0;
    max-width: rem(440);
  }
}
.contact__address-wrapper {
  margin-bottom: rem(18);
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    width: rem(440);
    margin-bottom: 0;
  }
}
.contact__address-list {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  font-size: rem(16);
  margin-bottom: rem(16);
  @include mq(md) {
    text-align-last: left;
  }
}
.contact__address-item:not(:last-child) {
  margin-bottom: rem(4);
}
.contact__map-wrapper {
  width: rem(295);
  height: rem(160);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  @include mq(md) {
    width: rem(273);
    height: rem(148);
    margin: 0;
  }
}

.contact__map {
  padding: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact__inquiry {
  @include mq(md) {
    width: 47.03704%;
    padding-left: rem(20);
    // padding-bottom: rem(20);
  }
}
.contact__title {
  font-size: rem(80);
  margin-bottom: rem(8);
  
}
.contact__catch {
  font-size: rem(14);
  color: $green;
  text-align: center;
  margin-bottom: rem(36);
}

.contact__btn {
  margin: 0 auto;
}
.contact__fish {
  position: absolute;
  width: rem(109);
  top: rem(-26);
  right: rem(15);
  @include mq(md) {
    width: rem(301);
    right: calc(50% - min(48%, 40rem));
    top: rem(-36);
  }
}


















