@use "global" as *; 


.faq-block__question {
  background: $green;
  color: #fff;
  padding: rem(16);
  position: relative;
  cursor: pointer;
  @include mq(md) {
    padding: rem(26) rem(40);
    padding-right: rem(112);
    margin-bottom: rem(16);
    transition: 0.3s;
  }
}

.faq-block__question::before,
.faq-block__question::after {
  position: absolute;
  content: '';
  height: rem(1);
  width: rem(28);
  background: #fff;
  right: rem(16);
  top: 50%;
  transform: translate-y(-50%) ;
  transition: 0.3s;
  @include mq(md) {
    right: rem(40);
  }
}
.faq-block__question::before {
  opacity: 0.3;
}


.faq-block__answer {
  border: 1px solid $green;
  padding: rem(24) rem(16);
  @include mq(md) {
    padding: rem(40);
  }
}

// when clicked
.faq-block__question.active {
  @include mq(md) {
    margin-bottom: 0;
  }
}
.faq-block__question.active::before {
  transform: rotate(90deg);
  opacity: 1;
}





