@use "global" as *;

.footer {
  background: $green;
  padding-top: rem(50);
  padding-bottom: rem(56);
  @include mq(md) {
    padding-bottom: rem(80);
    padding-top: rem(80);
  }
}

.footer__inner {
  max-width: rem(600);
  
}
.footer__figure-wrapper {
  margin-bottom: rem(40);
  @include mq(md) {
    margin-bottom: rem(29);
    display: flex;
    align-items: flex-end;
    gap: rem(40);
  }
}
.footer__logo-wrapper {
  width: rem(120);
  display: block;
  margin-bottom: rem(18);
  @include mq(md) {
    margin-bottom: 0;
    width: rem(200);
  }
}
.footer__icon-wrapper {
  display: flex;
  gap: rem(19);
  padding-left: rem(2);
}
.footer__icon {
  width: rem(19.5);
  display: block;
  transition: .1s;
  @include mq(md) {
    width: rem(32);
  }
}
.footer__icon--ig {
  width: rem(23);
  @include mq(md) {
    width: rem(36);
  }
}

.footer__icon:hover {
  opacity: 0.7;
}

.footer__nav {
  color: #fff;
  background: $green;
  display: flex;
  justify-content: space-between;
  margin: 0 auto rem(40);
  padding-left: rem(24);
  
  @include mq(md) {
    justify-content: space-between;
    gap: rem(80);
    margin-bottom: rem(46);
  }
  
}
.footer__nav-half {
  @include mq(md) {
    display: flex;
    justify-content: center;
    gap: rem(140);
  }
  
}
.footer__nav-quarter {
  display: grid;
  gap: rem(34);
}
.footer__item-wrapper {
  // margin-bottom: rem(34);
  max-width: rem(200);
}
.footer__item {
  font-weight: bold;
  position: relative;
  transition: 0.3s;
}
.footer__item--lh {
  line-height: 1.3;
}
.footer__item a {
  display: block;
}
.footer__starfish {
  left: rem(-22);
  width: rem(18);
  position: absolute;
}
.footer__sub-item {
  margin-top: rem(18);
  transition: 0.3s;
}
.footer__sub-item a {
  display: block;
}
.footer__small-wrapper {
  text-align: center;
}
.footer__small {
  padding: 0 rem(14);
  color: #fff;
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(14);
  }
}

.footer__item:hover {
  opacity: 0.8;
}
.footer__sub-item:hover {
  opacity: 0.8;
}



