@use "global" as *;

.info {
  background: #DDF0F1;
  padding: rem(76) 0 rem(84);
  @include mq(md) {
    padding: rem(88) 0 rem(72);
  }
}

.info__inner {
  max-width: rem(600);
}

.info__title {
  margin-bottom: rem(24);
}
.info__contents {
  @include mq(md) {
    
    display: flex;
    align-items: center;
  }
}

.info__figure {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: rem(30);
    @include mq(md) {
      // margin-top: rem(16);
      // margin-left: rem(8);
      width: 49%;
  }
}

.info__figure::before {
  content:"";
  display: block;
  padding-top: 65.8%;
  @include mq(md) {
    padding-top: 65.93;
  }
}

.info__fish-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.info__text-btn {
  @include mq(md) {
    width: 49.2%;
    padding-left: rem(52);
    padding-bottom: rem(16);
  }
}

.info__text-title {
  font-size: rem(20);
  font-weight: bold;
  padding-bottom: rem(2);
  line-height: 1;
  @include mq(md) {
    font-size: rem(24);
    padding-bottom: rem(4);
  }
}
.info__text {
  font-family: 'Noto Sans JP', sans-serif;
  border-top: 1px solid $green;
  padding-top: rem(8);
  margin-bottom: rem(40);
}
.info__btn-wrapper {
  padding-left: rem(2);
  @include mq(md) {
    padding-left: 0;
  }
}
.info__btn {
  margin-right: auto;
  margin-left: auto;
}






















