@use "global" as *;


.pagetop-btn {
  width: rem(48);
  height: rem(48);
  position: fixed;
  right: rem(15);
  bottom: rem(15);
  background: #fff;
  border: solid 1px $green;
  border-radius: 50%;
  opacity: 0.9;
  // display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  cursor: pointer;
  box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.5);
  transition: .3s;
  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}

.pagetop-btn:hover {
  filter: brightness(0.8);
}


.pagetop-btn__arrow-wrapper {
  position: relative;
  width: rem(6);
  transform: rotate(90deg);
}
.pagetop-btn__arrow:nth-child(1) {
  height: rem(1);
  width: rem(10);
  position: absolute;
  bottom: rem(-2);
  left: rem(-11);
  border-radius: 100vw;
  background-color: $green;
  transform: rotate(40deg);
  @include mq(md) {
    left: rem(-19);
  }
}
.pagetop-btn__arrow:nth-child(2) {
  position: absolute;
  bottom: rem(1);
  left: rem(-10);
  // transform-origin: right bottom;
  width: rem(28);
  height: rem(1);
  background-color: $green;
  border-radius: 100vw;
  @include mq(md) {
    bottom: rem(1);
    left: rem(-18);
    width: rem(45);
  }
}





















