@use "global" as *; 

.price {
  background: #DDF0F1;
  padding: rem(80) 0;
  margin-bottom: rem(54);
  @include mq(md) {
    padding: rem(100) 0;
    margin-bottom: rem(100);
  }
}
.price__title {
  margin-bottom: rem(24);
}
.price__figure {
  margin-bottom: rem(40);
  @include mq(md) {
    width: 45.68245%;
  }
}
.price__contents-wrapper {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    max-width: rem(1077);
    width: 100%;
    margin-bottom: rem(40);
  }
}
.price__contents {
  @include mq(md) {
    width: 45.68245%;
  }
}
.price__table-wrapper {
  max-width: rem(492);
  width: 100%;
  margin: 0 auto rem(40);
}
.price__table {
  width: 100%;
  padding: rem(8) 0;
  border-top: 1px solid $green;
  border-spacing: 0 rem(8);
  font-family: 'Noto Sans JP', sans-serif;
}

.price__table-header {
  font-weight: normal;
  font-size: rem(14);
  text-align: left;
}
.price__table-data {
  font-size: rem(14);
  text-align: right;
}

.price__btn {
  margin: 0 auto;
}

















