@use "global" as *; 
.reviews {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}
.reviews__item {
  margin: 0 auto;
  @include mq(md) {
    margin: 0 auto
  }
}

.reviews__item:last-child {
  margin-bottom: 0;
}




