@use "global" as *; 

.review {
  // max-width: rem(560);
  // width: 100%;
  // margin:0 auto rem(40);
  margin-bottom: rem(40);
  padding: rem(16) rem(16) rem(21);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  @include mq(md) {
    // width: rem(520);
    // width: 48.1%;
    padding: rem(24) rem(26);
    padding-top: rem(22);
    padding-right: rem(22);
  }
}
.review__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: rem(18);
  @include mq(md) {
    margin-bottom: rem(40);
  }
}
.review__info {
  // width: rem(149);
  width: 47.6%;
  border-bottom: 1px solid $green;
  // @include mq(sm) {
  //   width: 65%;
  // }
  @include mq(md) {
    width: rem(276);
  }
}
.review__age {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(12);
  @include mq(md) {
    display: inline-block;


  }
}
.review__age-type {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: rem(16);
  }
}
.review__type {
  display: inline-block;
  font-size: rem(12);
  color: $green;
  padding: rem(8) rem(11) rem(4) rem(12);
  margin-bottom: rem(6);
  border: 1px solid $green;
  @include mq(md) {
    // margin-top: rem(4);
    margin-left: rem(4);
    margin-bottom: 0;
    padding: rem(8) rem(14) rem(6) rem(16);
  }
}
.review__title {
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.4;
  margin-bottom: rem(2);
  @include mq(md) {
    font-size: rem(24);
    margin-bottom: 0;
  }
}
.review__figure {
  position: relative;
  // width: 43.7%;

  overflow: hidden;
  width: rem(151);
  // width: 43.768%;
  // @include mq(sm) {
  //   width: 22%;
  // }
  @include mq(md) {
    width: 33%;
  }
  // @include mq(lg) {
  //   width: 35%;
  // }
  // @include mq(xl) {
  //   width: 38.2%;
  // }
}

.review__figure::before {
  content:"";
  display: block;
  padding-top: 77.4834%;
  @include mq(md) {
    padding-top: 77.777778%;
  }
}
.review__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.review__text {
  font-size: rem(16);
}



















