@use "global" as *;

.section-title {
  text-align: center;
  font-size: rem(32);
  color: $font;
  @include mq(md) {
    font-size: rem(40);
  }
}
.section-title__en::first-letter {
  color: $green;
}


.section-title__ja {
  display: block;
  color: $green;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(12);
}


// contact
.section-title.section-title--big {
  font-size: rem(80);
}
.section-title--big .section-title__en {
  line-height: 1;
}

// blog
.section-title__ja--white,
.section-title__en--white {
  @include mq(md) {
    color: #fff;
  }
}
.section-title__en--white::first-letter {
  @include mq(md) {
    color: #fff;
  }
}
// .section-title--white .section-title__first-letter {
//   @include mq(md) {
//     color: #fff;
//   }
// }
// .section-title--white .section-title__sub {
//   @include mq(md) {
//     color: #fff;
//   }
// }






