@use "global" as *;

.slide {
	height: 100%;
  width: 100%;
	overflow: hidden;
	position: relative;
}

.slide__bg {
  animation: slider-1 32s linear infinite;
  position: absolute;
	right: 0;
	top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.slide__image {
  height: 100%;
  object-fit: cover;
}


.slide__bg:nth-child(1) {
	animation-delay: -2s;
}

.slide__bg:nth-child(2) {
	animation-delay: 6s;
}

.slide__bg:nth-child(3) {
	animation-delay: 14s;
}
.slide__bg:nth-child(4) {
	animation-delay: 22s;
}

@keyframes slider-1 {
  0% {
    opacity: 0;
  }
  4.16% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  41.66% {
    opacity: 0;
  }
  100% {
  opacity: 0;
  }
}








