@use "global" as *; 

.voice {
  @include mq(md) {
    position: relative;
  }
}

.voice__inner {
  padding: 0 rem(15);
}

.voice__title {
  margin-bottom: rem(40);
  @include mq(md) {
    margin-bottom: rem(30);
  }
}
.voice__reviews {
  margin-bottom: rem(41);
  @include mq(md) {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: rem(40);
    gap: 3.7%;
    margin-bottom: 0;
    margin-bottom: rem(80);
  }
}

.voice__review {
  // margin: 0 auto rem(40) auto;
  margin: 0 auto rem(40);
  @include mq(md) {
    margin: 0 auto
  }
}
// .voice__review.voice__review--second {
//   margin-bottom: 0;
// }

.voice__btn {
  margin: 0 auto;
}

.voice__fish {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(-110);
    // left: 6.9444%;
    left: calc(50% - min(48%, 40rem));
    width: rem(301);
  }
}
.voice__seahorse {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    bottom: rem(-68);
    // right: 12.5%;
    right: calc(50% - min(48%, 40rem));
    width: rem(71);
  }
}














