@use "global" as *; 

.voice {
  @include mq(md) {
    position: relative;
  }
}

.voice__inner {
  padding: 0 rem(15);
}

.voice__title {
  margin-bottom: rem(40);
  @include mq(md) {
    margin-bottom: rem(30);
  }
}
.voice__reviews {
  margin-bottom: rem(41);
  @include mq(md) {
    margin-bottom: rem(80);
  }
}

.voice__btn {
  margin: 0 auto;
}

.voice__btn-wrapper {
  text-align: center;
}

.voice::before {
  content: '';
  display: none;
  @include mq(md) {
    background-image: url(../images/common/fish2.png);
    display: block;
    position: absolute;
    top: rem(-110);
    // left: 6.9444%;
    left: calc(50% - min(48%, 38.5rem));
    width: rem(301);
    height: rem(138);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.voice::after {
  content: '';
  display: none;
  @include mq(md) {
    background-image: url(../images/common/seahorse.png);
    display: block;
    position: absolute;
    bottom: rem(-68);
    // right: 12.5%;
    right: calc(50% - min(48%, 33.5rem));
    width: rem(71);
    height: rem(162);
    background-repeat: no-repeat;
    background-size: contain;
  }
}














